body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    height: 100vh;
    background-color: #1f1f1f;
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    -webkit-user-select: none;
    user-select: none;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app main {
    text-align: center;
    display: -webkit-flex;
    /* Safari */
    flex-wrap: wrap;
    display: flex;
}

.foreground {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: left;
    background-color: #808080;
}

.foreground-first {
    margin-left: 100px;
    width: 220px;
    color: white;
    /* cursor: pointer; */
}

.intro {
    padding-top: 100px;
    padding-left: 100px;
    font-size: 1.5em;
}

svg:hover {
    fill: #0d6efd;
}

a {
    cursor: pointer;
}

a:hover {
    color: #0d6efd;
}

.exifinfo {
    width: 600px;
    height: 450px;
    border: 1px dashed white;
    margin-top: 100px;
    margin-left: 50px;
    text-align: left;
}

.exifinfo>ul {
    list-style-type: none;
}

.exifinfo-preview-img-width {
    width: 60%;
}

.exifinfo-preview-img-height {
    height: 50%;
    width: 30%;
}

#exifinfo-export {
    display: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}